%main.container
  %h1.text-center.text-primary Welcome to my Rails Chat App!
  %p.text-center.text-primary.lead
    Check out the chat rooms by following the link below!
  %p.text-center.text-primary.lead
    = link_to "Chat rooms", rooms_path, class: "btn btn-success"

  = image_tag(current_user.avatar_thumbnail)